<app-header></app-header>
<div class="content">
    <div class="trakkersSlider">
        <img src="../../assets/slider-img.jpeg"/>
        <div class="slider-details">
            <h1>Discover A Beautiful 
                <span>
                  Place With Us
                </span>
            </h1> 
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter.</p>
        </div>
        <div class="search-filter">
          <div class="container search-filter-field">
            <div class="row">
                <div class="col-md-12">
                  <div class="search-filter-field-inn">
                    <div class="row">
                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="search-field">
                              <div class="field-box">
                                <label for="trip"><img src="../../assets/trip-icon.svg" /></label>
                                <input type="text" name="text" id="trip" placeholder="What kind of trip are you looking for?"/>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="search-field">
                              <div class="field-box">
                                <label for="location"><img src="../../assets/trip-location.svg" /></label>
                                <input type="text" name="text" id="location" placeholder="When do you want to go?"/>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="search-field-button">
                          <button mat-flat-button>Show holidays</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
            </div>
          </div>
          <!-- <div class="search-filter-field">
            <div class="search-field">
              <div class="field-box">
                <label for="trip"><img src="../../assets/trip-icon.svg" /></label>
                <input type="text" name="text" id="trip" placeholder="What kind of trip are you looking for?"/>
              </div>
            </div>
            <div class="search-field">
              <div class="field-box">
                <label for="location"><img src="../../assets/trip-location.svg" /></label>
                <input type="text" name="text" id="location" placeholder="When do you want to go?"/>
              </div>
            </div>
            <div class="search-field-button">
              <button mat-flat-button>Show holidays</button>
            </div>
          </div> -->
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="search-tag-heading">
                  <h2>Quick Search</h2>
                </div>
                <div class="search-tag">
                  <button mat-flat-button>Hindu Kush Range</button>
                  <button mat-flat-button>Himalayas</button>
                  <button mat-flat-button>Baltoro Glacier</button>
                  <button mat-flat-button>Gondogoro La Trek</button>
                  <button mat-flat-button>K2 Base Camp</button>
                  <button mat-flat-button>Trekking</button>
                  <button mat-flat-button>Mountaineering</button>
                  <button mat-flat-button>Skiing and Snowboarding</button>
                  <button mat-flat-button>Rock Climbing</button>
                  <button mat-flat-button>Ice Climbing</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="mainContent">
      <div class="container adventures">
        <h2>Adventures places</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="adv_item">
              <div class="adv_img">
                <img src="../../assets/productslideritem.png"/>
                <div class="adv_review">
                  <img src="../../assets/star.svg"/>
                  <span>4.5</span>
                </div>
              </div>
              <div class="adv_box">
                <div class="adv_date">
                  10<span>DAY</span>
                </div>
                <div class="adv_icon">
                  <span><img src="../../assets/icon1.svg"/></span>
                  <span><img src="../../assets/icon2.svg"/></span>
                  <span><img src="../../assets/icon3.svg"/></span>
                  <span><img src="../../assets/icon4.svg"/></span>
                </div>
                <div class="adv_container">
                  <h3>Biafo Glacier Ice Climbing</h3>
                  <div class="adv_location">
                    <img src="../../assets/map-pin.svg"/>
                    <span>Hunza Valley</span>
                  </div>
                  <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                </div>
                <div class="adv_footer">
                  <div class="adv_price">$250<span>/Per Person</span>
                  </div>
                  <button mat-flat-button>Book Now</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="adv_item">
              <div class="adv_img">
                <img src="../../assets/productslideritem.png"/>
                <div class="adv_review">
                  <img src="../../assets/star.svg"/>
                  <span>4.5</span>
                </div>
              </div>
              <div class="adv_box">
                <div class="adv_date">
                  10<span>DAY</span>
                </div>
                <div class="adv_icon">
                  <span><img src="../../assets/icon1.svg"/></span>
                  <span><img src="../../assets/icon2.svg"/></span>
                  <span><img src="../../assets/icon3.svg"/></span>
                  <span><img src="../../assets/icon4.svg"/></span>
                </div>
                <div class="adv_container">
                  <h3>Biafo Glacier Ice Climbing</h3>
                  <div class="adv_location">
                    <img src="../../assets/map-pin.svg"/>
                    <span>Hunza Valley</span>
                  </div>
                  <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                </div>
                <div class="adv_footer">
                  <div class="adv_price">$250<span>/Per Person</span>
                  </div>
                  <button mat-flat-button>Book Now</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="adv_item">
              <div class="adv_img">
                <img src="../../assets/productslideritem.png"/>
                <div class="adv_review">
                  <img src="../../assets/star.svg"/>
                  <span>4.5</span>
                </div>
              </div>
              <div class="adv_box">
                <div class="adv_date">
                  10<span>DAY</span>
                </div>
                <div class="adv_icon">
                  <span><img src="../../assets/icon1.svg"/></span>
                  <span><img src="../../assets/icon2.svg"/></span>
                  <span><img src="../../assets/icon3.svg"/></span>
                  <span><img src="../../assets/icon4.svg"/></span>
                </div>
                <div class="adv_container">
                  <h3>Biafo Glacier Ice Climbing</h3>
                  <div class="adv_location">
                    <img src="../../assets/map-pin.svg"/>
                    <span>Hunza Valley</span>
                  </div>
                  <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                </div>
                <div class="adv_footer">
                  <div class="adv_price">$250<span>/Per Person</span>
                  </div>
                  <button mat-flat-button>Book Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="readMore">
          <a href="#">View All Packages</a>
        </div>
      </div>
      <div class="container adventures">
        <h2>Activities</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="adv_item Act_item">
              <div class="adv_img">
                <img src="../../assets/productslideritem.png"/>
              </div>
              <div class="adv_box">
                <div class="adv_container">
                  <h3>Biafo Glacier Ice Climbing</h3>
                  <div class="reviews">
                    <span>8.0</span>
                    Superb. 140 Review
                  </div>
                  <div class="advTag">
                    <button mat-flat-button>K2</button>
                    <button mat-flat-button>Nanga Parbat</button>
                    <button mat-flat-button>Gasherbrum</button>
                    <button mat-flat-button>Broad Peak</button>
                  </div>
                  <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                </div>
                <div class="adv_footer">
                  <button mat-flat-button>Book Now</button>
                  <div class="adv_sucess">$250<span>/Per Person</span>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="adv_item Act_item">
              <div class="adv_img">
                <img src="../../assets/productslideritem.png"/>
              </div>
              <div class="adv_box">
                <div class="adv_container">
                  <h3>Biafo Glacier Ice Climbing</h3>
                  <div class="reviews">
                    <span>8.0</span>
                    Superb. 140 Review
                  </div>
                  <div class="advTag">
                    <button mat-flat-button>K2</button>
                    <button mat-flat-button>Nanga Parbat</button>
                    <button mat-flat-button>Gasherbrum</button>
                    <button mat-flat-button>Broad Peak</button>
                  </div>
                  <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                </div>
                <div class="adv_footer">
                  <button mat-flat-button>Book Now</button>
                  <div class="adv_sucess">$250<span>/Per Person</span>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="adv_item Act_item">
              <div class="adv_img">
                <img src="../../assets/productslideritem.png"/>
              </div>
              <div class="adv_box">
                <div class="adv_container">
                  <h3>Biafo Glacier Ice Climbing</h3>
                  <div class="reviews">
                    <span>8.0</span>
                    Superb. 140 Review
                  </div>
                  <div class="advTag">
                    <button mat-flat-button>K2</button>
                    <button mat-flat-button>Nanga Parbat</button>
                    <button mat-flat-button>Gasherbrum</button>
                    <button mat-flat-button>Broad Peak</button>
                  </div>
                  <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                </div>
                <div class="adv_footer">
                  <button mat-flat-button>Book Now</button>
                  <div class="adv_sucess">$250<span>/Per Person</span>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="readMore">
          <a href="#">View All Packages</a>
        </div>
      </div>
      <div class="container">
        <div class="row">
         <div class="col-md-12">
          <div class="upcomingEvent">
            <div class="row">
              <div class="col-md-5">
                <div class="upcomingEventImage">
                  <img src="../../assets/upcomingEvent.jpg"/>
                </div>
              </div>
              <div class="col-md-7">
                <div class="upcomingEventDetails">
                  <span>Up Comming Trip</span>
                  <h2>Up Comming Trip</h2>
                  <p>Biafo Glacier is a shocking 63-kilometer-long glacial mass situated in the Karakoram mountain scope of Pakistan. It is viewed as one of the longest and biggest icy masses outside the polar areas. The icy mass is a well-known objective among experienced searchers, particularly ice climbers, because of its difficult territory and shocking perspectives.</p>
                  <div class="adv_timer">
                    <div class="adv_day">
                      <span>Day</span>
                      06
                    </div>
                    <div class="adv_month">
                      <span>Month</span>
                      06
                    </div>
                    <div class="adv_years">
                      <span>Years</span>
                      2023
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
      <div class="guides">
        <app-guides></app-guides>
      </div>
      <div class="textimonail_main_box">
        <app-stories></app-stories>
      </div>
    </div>
</div>

<app-footer></app-footer>