<app-header></app-header>
<div class="trip_container">
    <div class="trip_header">
        <img src="../../assets/trip_banner.png"/>
        <div class="trip_des">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="trip_des_inn">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="luggage-box">
                        <div class="luggage">
                            <div class="luggage_icon">
                                <img src="../../assets/bag.svg"/>
                            </div>
                            <p>Excl. luggage</p>
                        </div>
                        <div class="luggage">
                            <div class="luggage_icon">
                                <img src="../../assets/arowplan.svg"/>
                            </div>
                            <p>Always incl. transport</p>
                        </div>
                        <div class="luggage">
                            <div class="luggage_icon">
                                <img src="../../assets/chat.svg"/>
                            </div>
                            <p>65% travel solo</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="trip_details">
                        <div class="heading_and_price">
                            <h2>Biafo Glacier Ice Climbing</h2>
                            <div class="price_details">
                                <p>From 1 706.50€</p>
                            </div>
                        </div>
                        <div class="trip_description">
                            <p>Rrow itself, let it be sorrow; let him love it; let him pursue it, ishing for its acquisitiendum. Because he will ab hold, uniess but through concer, and also of those who resist. Now a pure snore disturbeded sum dust. He ejjnoyes, in order that somewon, also with a severe one, unless of life. May a cusstums offficer somewon nothing of a poison-filled. Until, from a twho, twho chaffinch may also pursue it, not even a lump. But as twho, as a tank; a proverb, yeast; or else they tinscribe nor.</p> 
                            <p>Yet yet dewlap bed. Twho may be, let him love fellows of a polecat. Now amour, the, twhose being, drunk, yet twhitch and, an enclosed valley’s always a laugh. In acquisitiendum the Furies are Earth; in (he takes up) a lump Rrow itself, let it be sorrow; let him love it; let him pursue it, ishing for its acquisitiendum. Because he will ab hold, uniess but through concer, and also of those who resist. Now a pure snore disturbeded sum dust. </p>
                        </div>
                        <div class="trip_addition">
                            <div class="trip_add_inn">
                                <div class="trip_add_icon"><img src="../../assets/bag.svg"/></div>
                                Transport 
                            </div>
                            <div class="trip_add_inn">
                                <div class="trip_add_icon"><img src="../../assets/bag.svg"/></div>
                                Incl.flight 
                            </div>
                            <div class="trip_add_inn">
                                <div class="trip_add_icon"><img src="../../assets/bag.svg"/></div>
                                18 - 26 Years  
                            </div>
                            <div class="trip_add_inn">
                                <div class="trip_add_icon"><img src="../../assets/bag.svg"/></div>
                                Excl. luggage
                            </div>
                            <div class="trip_add_inn">
                                <div class="trip_add_icon"><img src="../../assets/bag.svg"/></div>
                                10 days    
                            </div>
                            <div class="trip_add_inn">
                                <div class="trip_add_icon"><img src="../../assets/bag.svg"/></div>
                                Hotel
                            </div>
                            <div class="trip_add_inn">
                                <div class="trip_add_icon"><img src="../../assets/bag.svg"/></div>
                                15-28 people 
                            </div>
                            <div class="trip_add_inn">
                                <div class="trip_add_icon"><img src="../../assets/bag.svg"/></div>
                                Normal Difficulty
                            </div>
                            <div class="trip_add_inn">
                                <div class="trip_add_icon"><img src="../../assets/bag.svg"/></div>
                                9 Excursions 
                            </div>
                        </div>
                        <div class="trip_button_container">
                            <button mat-flat-button>Book This Trip</button>
                            <button mat-flat-button>Take An Option</button>
                            <button mat-stroked-button color="primary">CareFree Booking</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="trip_chart">
                        <canvas  id="MyChart" >{{ chart }}</canvas>
                    </div>
                    <div class="highlights_container">
                        <h2>Highlights</h2>
                        <div class="highlights_inner_container">
                            <ul [ngClass]="{'lemit_list': isClassActive}">
                                <li>Climb the Diamond Hill</li>
                                <li>Hike at Cliffs of Moher</li>
                                <li>Sightseeing Ring of Kerry</li>
                                <li>Visit Cahir Castle</li>
                                <li>Atmospheric Dublin and Galway</li>
                                <li>Climb the Diamond Hill</li>
                                <li>Hike at Cliffs of Moher</li>
                                <li>Sightseeing Ring of Kerry</li>
                            </ul>
                            <a href="javascript:void(0);" (click)="toggleClass()">View More</a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="tab_container">
                        <mat-tab-group>
                            <mat-tab label="Day-To-Day">
                                <div class="tabs_container">
                                    <div class="DayToDay_table">
                                        <h3>Itinerary</h3>
                                        <p>Return flight Amsterdam - Dublin (or Zaventem - Dublin)</p>
                                        <table mat-table [dataSource]="dataSource">

                                            <!-- Day column -->
                                            <ng-container matColumnDef="day">
                                            <th mat-header-cell *matHeaderCellDef> Day </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.day }} </td>
                                            </ng-container>
                                        
                                            <!-- Activity column -->
                                            <ng-container matColumnDef="activity">
                                            <th mat-header-cell *matHeaderCellDef> Activity </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.activity }} </td>
                                            </ng-container>
                                        
                                            <!-- Traffic column -->
                                            <ng-container matColumnDef="Traffic">
                                            <th mat-header-cell *matHeaderCellDef> Traffic </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.Traffic }} </td>
                                            </ng-container>
                                        
                                            <!-- Time column -->
                                            <ng-container matColumnDef="Time">
                                            <th mat-header-cell *matHeaderCellDef> Time </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.Time }} </td>
                                            </ng-container>
                                        
                                            <!-- Height column -->
                                            <ng-container matColumnDef="Height">
                                            <th mat-header-cell *matHeaderCellDef> Height </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.Height }} </td>
                                            </ng-container>
                                        
                                            <!-- Condition column -->
                                            <ng-container matColumnDef="Condition">
                                            <th mat-header-cell *matHeaderCellDef> Condition </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.Condition }} </td>
                                            </ng-container>
                                        
                                            <!-- Breakfast column -->
                                            <ng-container matColumnDef="breakfast">
                                            <th mat-header-cell *matHeaderCellDef> Breakfast </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.menu?.breakfast }} </td>
                                            </ng-container>
                                        
                                            <!-- Lunch column -->
                                            <ng-container matColumnDef="lunch">
                                            <th mat-header-cell *matHeaderCellDef> Lunch </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.menu?.lunch }} </td>
                                            </ng-container>
                                        
                                            <!-- Dinner column -->
                                            <ng-container matColumnDef="dinner">
                                            <th mat-header-cell *matHeaderCellDef> Dinner </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.menu?.dinner }} </td>
                                            </ng-container>
                                        
                                            <!-- Include other columns as needed -->
                                        
                                            <!-- Row definition -->
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        
                                        </table>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Included">
                                <div class="tabs_container">
                                    <div class="DayToDay_table">
                                        <div class="included_container">
                                            <h3>Inclusive</h3>
                                            <ul>
                                                <li>Return flight Amsterdam - Dublin (or Zaventem - Dublin)</li>
                                                <li>All transportation on site</li>
                                                <li>Dutch-speaking Simi host + professional English-speaking driver/guide</li>
                                                <li>Entrance fees to activities included in the program: Cahir Castle</li>
                                                <li>Gegidste bustour Ring of Kerry & Slea head</li>
                                                <li>Walking tours: Diamond hill, Cliffs of Moher, Dunmore Head and Valentia Island.</li>
                                                <li>Sheepdog demonstration</li>
                                                <li>Beer tasting with guided tour</li>
                                                <li>Ferry to Aran Islands and across the river shannon</li>
                                                <li>Accommodation in very neat hostels in prime locations: 2 nights in Dublin, Galway, Dingle and Tralee. 1 night in Lisdoonvarna</li>
                                                <li>Contribution Guarantee Fund SGR. You can find the terms and conditions at  www.sgr.nl/warranty scheme . SGR will send these</li>
                                                <li>terms and conditions on request</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Important">
                                <div class="tabs_container">
                                    <div class="DayToDay_table">
                                        <div class="included_container">
                                            <h3>Inclusive</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                            <h3>Lorem ipsum dolor sit amet</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Trek Menu">
                                <div class="tabs_container">
                                    <div class="DayToDay_table">
                                        <h3>TREK MENU</h3>
                                        <p>Below is the our reference menu we will provide with a combination four or five items one day</p>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Experiences">
                                <div class="tabs_container">
                                    <div class="experience_container">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="rating-overview">
                                                    <h4>Rating Overview</h4>
                                                    <div class="rating-overview-text">
                                                        <h5>3.5 <span>/ 5</span></h5>
                                                        <div class="total-rating-points">
                                                            <a href="#" class="active_star"></a>
                                                            <a href="#" class="active_star"></a>
                                                            <a href="#" class="active_star"></a>
                                                            <a href="#" class="active_star"></a>
                                                            <a href="#"></a>
                                                        </div>
                                                        <span class="rating-total">21034, Rating</span>
                                                    </div>
                                                    <div class="rating-overview-list">
                                                        <div class="rating-overview-list-box rating-80">
                                                            <div class="rating-overview-list-box-points">
                                                                <b>5 <i class="fa-solid fa-star"></i></b>
                                                            </div>
                                                            <div class="rating-overview-list-box-bar"></div>
                                                            <div class="rating-overview-list-box-total">
                                                                <span>12980</span>
                                                            </div> 
                                                        </div>
                                                        <div class="rating-overview-list-box rating-70">
                                                            <div class="rating-overview-list-box-points">
                                                                <b>4 <i class="fa-solid fa-star"></i></b>
                                                            </div>
                                                            <div class="rating-overview-list-box-bar"></div>
                                                            <div class="rating-overview-list-box-total">
                                                                <span>9000</span>
                                                            </div> 
                                                        </div>
                                                        <div class="rating-overview-list-box rating-30">
                                                            <div class="rating-overview-list-box-points">
                                                                <b>3 <i class="fa-solid fa-star"></i></b>
                                                            </div>
                                                            <div class="rating-overview-list-box-bar"></div>
                                                            <div class="rating-overview-list-box-total">
                                                                <span>1000</span>
                                                            </div> 
                                                        </div>
                                                        <div class="rating-overview-list-box rating-20">
                                                            <div class="rating-overview-list-box-points">
                                                                <b>2 <i class="fa-solid fa-star"></i></b>
                                                            </div>
                                                            <div class="rating-overview-list-box-bar"></div>
                                                            <div class="rating-overview-list-box-total">
                                                                <span>900</span>
                                                            </div> 
                                                        </div>
                                                        <div class="rating-overview-list-box rating-10">
                                                            <div class="rating-overview-list-box-points">
                                                                <b>1 <i class="fa-solid fa-star"></i></b>
                                                            </div>
                                                            <div class="rating-overview-list-box-bar"></div>
                                                            <div class="rating-overview-list-box-total">
                                                                <span>200</span>
                                                            </div> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="client-box">
                                                    <div class="client-box-head">
                                                        <div class="client-box-head-profle">
                                                            <div class="client-box-head-img">
                                                                <img src="../../assets/client-img.png" />
                                                            </div>
                                                            <div class="client-box-head-title">
                                                                <h4>anna diskens</h4>
                                                                <a href="#" class="email">anna diskens32@gmail.com</a>
                                                            </div>
                                                        </div>
                                                        <div class="client-date">
                                                            <span class="date"><img src="../../assets/cat_vector.png"/> 02-07-2023</span>
                                                        </div>
                                                    </div>
                                                    <div class="client-box-content">
                                                        <p>For someone who had never done a group tour before, it worked out very well! If you love nature, good food and a bit of culture, Ireland is highly recommended!</p>
                                                    </div>
                                                    <div class="client-box-head-rating">
                                                        <div class="client-box-head-rating-list">
                                                            <span>3.0</span>
                                                            <div class="total-rating-points">
                                                                <a href="#" class="active_star"></a>
                                                                <a href="#" class="active_star"></a>
                                                                <a href="#" class="active_star"></a>
                                                                <a href="#" class="active_star"></a>
                                                                <a href="#"></a>
                                                            </div>
                                                        </div>
                                                        <div class="client-box-head-like-dislike">
                                                            <a href="#"><img src="../../assets/like.svg"/> 10</a>
                                                            <a href="#"><img src="../../assets/unlike.svg"/> 0</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="client-box">
                                                    <div class="client-box-head">
                                                        <div class="client-box-head-profle">
                                                            <div class="client-box-head-img">
                                                                <img src="../../assets/client-img.png" />
                                                            </div>
                                                            <div class="client-box-head-title">
                                                                <h4>anna diskens</h4>
                                                                <a href="#" class="email">anna diskens32@gmail.com</a>
                                                            </div>
                                                        </div>
                                                        <div class="client-date">
                                                            <span class="date"><img src="../../assets/cat_vector.png"/> 02-07-2023</span>
                                                        </div>
                                                    </div>
                                                    <div class="client-box-content">
                                                        <p>For someone who had never done a group tour before, it worked out very well! If you love nature, good food and a bit of culture, Ireland is highly recommended!</p>
                                                    </div>
                                                    <div class="client-box-head-rating">
                                                        <div class="client-box-head-rating-list">
                                                            <span>3.0</span>
                                                            <div class="total-rating-points">
                                                                <a href="#" class="active_star"></a>
                                                                <a href="#" class="active_star"></a>
                                                                <a href="#" class="active_star"></a>
                                                                <a href="#" class="active_star"></a>
                                                                <a href="#"></a>
                                                            </div>
                                                        </div>
                                                        <div class="client-box-head-like-dislike">
                                                            <a href="#"><img src="../../assets/like.svg"/> 10</a>
                                                            <a href="#"><img src="../../assets/unlike.svg"/> 0</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="client-box">
                                                    <div class="client-box-head">
                                                        <div class="client-box-head-profle">
                                                            <div class="client-box-head-img">
                                                                <img src="../../assets/client-img.png" />
                                                            </div>
                                                            <div class="client-box-head-title">
                                                                <h4>anna diskens</h4>
                                                                <a href="#" class="email">anna diskens32@gmail.com</a>
                                                                <span class="date"><i class="fa-solid fa-calendar"></i> 02-07-2023</span>
                                                            </div>
                                                        </div>
                                                        <div class="client-date">
                                                            <span class="date"><img src="../../assets/cat_vector.png"/> 02-07-2023</span>
                                                        </div>
                                                    </div>
                                                    <div class="client-box-content">
                                                        <p>For someone who had never done a group tour before, it worked out very well! If you love nature, good food and a bit of culture, Ireland is highly recommended!</p>
                                                    </div>
                                                    <div class="client-box-head-rating">
                                                        <div class="client-box-head-rating-list">
                                                            <span>3.0</span>
                                                            <div class="total-rating-points">
                                                                <a href="#" class="active_star"></a>
                                                                <a href="#" class="active_star"></a>
                                                                <a href="#" class="active_star"></a>
                                                                <a href="#" class="active_star"></a>
                                                                <a href="#"></a>
                                                            </div>
                                                        </div>
                                                        <div class="client-box-head-like-dislike">
                                                            <a href="#"><img src="../../assets/like.svg"/> 10</a>
                                                            <a href="#"><img src="../../assets/unlike.svg"/> 0</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Destination"> 
                                <div class="tabs_container">
                                    <div class="DayToDay_table">
                                        <div class="included_container">
                                            
                                            <img src="../../assets/productslideritem.png"/>
                                            <h3>Destination</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                            <h3>Lorem ipsum dolor sit amet</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Faq"> 
                                <div class="tabs_container">
                                    <div class="DayToDay_table">
                                        <div class="included_container">
                                            <h3>Faq</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                            <h3>Lorem ipsum dolor sit amet</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                    </div> 
                                </div>   
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
        <div class="guides">
            <app-guides></app-guides>
          </div>
          <div class="textimonail_main_box">
            <app-stories></app-stories>
          </div>
    </div>
</div>
<app-footer></app-footer>
