<div class="container adventures">
    <h2>Stories</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial_inn">
            <div class="testimonial-img"><img src="../../assets/text-img.png"/></div>
            <div class="testimonial-details">
              <h2>Lorem ipsum, or lipsum as it is sometimes known</h2>
              <div class="tagAndDate">
                <a href="#">climbing</a>- December 20, 2023
              </div>
              <p>According to McClintock, a 15th century typesetter likely scrambled part of Cicero's De Finibus in order to provide placeholder text to mockup various fonts for a type specimen book.</p>
            </div>
          </div>
          <div class="testimonial_user_details">
              <div class="testimonial_user_img"><img src="../../assets/profile_img.jpg"/></div>
              <div class="testimonial_user_name">
                <p>Lorem ipsum dolor</p>
                <span>Lorem ipsum dolor</span>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial_inn">
            <div class="testimonial-img"><img src="../../assets/text-img.png"/></div>
            <div class="testimonial-details">
              <h2>Lorem ipsum, or lipsum as it is sometimes known</h2>
              <div class="tagAndDate">
                <a href="#">climbing</a>- December 20, 2023
              </div>
              <p>According to McClintock, a 15th century typesetter likely scrambled part of Cicero's De Finibus in order to provide placeholder text to mockup various fonts for a type specimen book.</p>
            </div>
          </div>
          <div class="testimonial_user_details">
              <div class="testimonial_user_img"><img src="../../assets/profile_img.jpg"/></div>
              <div class="testimonial_user_name">
                <p>Lorem ipsum dolor</p>
                <span>Lorem ipsum dolor</span>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial_inn">
            <div class="testimonial-img"><img src="../../assets/text-img.png"/></div>
            <div class="testimonial-details">
              <h2>Lorem ipsum, or lipsum as it is sometimes known</h2>
              <div class="tagAndDate">
                <a href="#">climbing</a>- December 20, 2023
              </div>
              <p>According to McClintock, a 15th century typesetter likely scrambled part of Cicero's De Finibus in order to provide placeholder text to mockup various fonts for a type specimen book.</p>
            </div>
          </div>
          <div class="testimonial_user_details">
              <div class="testimonial_user_img"><img src="../../../../assets/profile_img.jpg"/></div>
              <div class="testimonial_user_name">
                <p>Lorem ipsum dolor</p>
                <span>Lorem ipsum dolor</span>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="readMore">
      <a href="#">View All Packages</a>
    </div>
  </div>