<div class="container adventures">
    <h2>Top Trip Guides</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="adv_item Act_item adv_profile">
          <div class="adv_img">
            <img src="../../assets/productslideritem.png"/>
          </div>
          <div class="adv_profile_box">
              <div class="user_profile">
                <div class="user_profile_img"><img src="../../assets/profile_img.jpg" /></div>
                <div class="user_profile_name_info">
                  <div class="user_name">
                    <span>User Name</span>
                  </div>
                  <div class="user_status">
                    <span>Tour Guide</span>
                  </div>
                  <div class="user_reviews">
                    <span><img src="../../assets/star.svg"/></span>
                    <span><img src="../../assets/star.svg"/></span>
                    <span><img src="../../assets/star.svg"/></span>
                    <span><img src="../../assets/star.svg"/></span>
                    <span><img src="../../assets/star.svg"/></span>
                    /5
                  </div>
                </div>
              </div>
              <div class="user_profile_location">
                <div class="user_from user_pro_box">
                  <div class="user_form_icon">From</div>
                  <div class="user_form_text">Pakistan</div>
                </div>
                <div class="user_guide user_pro_box">
                  <div class="user_guide_icon">Guide Since</div>
                  <div class="user_guide_text">2023</div>
                </div>
                <div class="user_trip user_pro_box">
                  <div class="user_trip_icon">Next Trip</div>
                  <div class="user_trip_text">Newyork</div>
                </div>
              </div>
              <div class="user_profile_exp">
                <div class="user_profile_exp_box user_exp_box">
                  <div class="user_profile_exp_text">Exprience</div>
                  <div class="user_profile_exp_bar">
                    <span class="exp-bar">
                      <meter id="fuel" min="0" max="100" low="33" high="70" optimum="8 0" value="70" class="progress w-75">at 50/100</meter>
                      <label for="fuel">70</label>
                    </span>
                  </div>
                </div>
                <div class="user_profile_exp_box user_exp_box">
                  <div class="user_profile_exp_text">Venture</div>
                  <div class="user_profile_exp_bar">
                    <span class="exp-bar">
                      <meter id="fuel" min="0" max="100" low="33" high="70" optimum="80" value="30" class="progress w-75">at 50/100</meter>
                      <label for="fuel">30</label>
                    </span>
                  </div>
                </div>
                <div class="user_profile_exp_box user_exp_box">
                  <div class="user_profile_exp_text">Trip Knowledge</div>
                  <div class="user_profile_exp_bar">
                    <span class="exp-bar">
                      <meter id="fuel" min="0" max="100" low="33" high="70" optimum="80" value="50" class="progress w-75">at 50/100</meter>
                      <label for="fuel">50</label>
                    </span>
                  </div>
                </div>
              </div>
              <div class="user_footer">
                <div class="user_avb">Available</div>
                <button mat-flat-button>View Profile</button>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="adv_item Act_item adv_profile">
          <div class="adv_img">
            <img src="../../assets/productslideritem.png"/>
          </div>
          <div class="adv_profile_box">
              <div class="user_profile">
                <div class="user_profile_img"><img src="../../assets/profile_img.jpg" /></div>
                <div class="user_profile_name_info">
                  <div class="user_name">
                    <span>User Name</span>
                  </div>
                  <div class="user_status">
                    <span>Tour Guide</span>
                  </div>
                  <div class="user_reviews">
                    <span><img src="../../assets/star.svg"/></span>
                    <span><img src="../../assets/star.svg"/></span>
                    <span><img src="../../assets/star.svg"/></span>
                    <span><img src="../../assets/star.svg"/></span>
                    <span><img src="../../assets/star.svg"/></span>
                    /5
                  </div>
                </div>
              </div>
              <div class="user_profile_location">
                <div class="user_from user_pro_box">
                  <div class="user_form_icon">From</div>
                  <div class="user_form_text">Pakistan</div>
                </div>
                <div class="user_guide user_pro_box">
                  <div class="user_guide_icon">Guide Since</div>
                  <div class="user_guide_text">2023</div>
                </div>
                <div class="user_trip user_pro_box">
                  <div class="user_trip_icon">Next Trip</div>
                  <div class="user_trip_text">Newyork</div>
                </div>
              </div>
              <div class="user_profile_exp">
                <div class="user_profile_exp_box user_exp_box">
                  <div class="user_profile_exp_text">Exprience</div>
                  <div class="user_profile_exp_bar">
                    <span class="exp-bar">
                      <meter id="fuel" min="0" max="100" low="33" high="70" optimum="8 0" value="70" class="progress w-75">at 50/100</meter>
                      <label for="fuel">70</label>
                    </span>
                  </div>
                </div>
                <div class="user_profile_exp_box user_exp_box">
                  <div class="user_profile_exp_text">Venture</div>
                  <div class="user_profile_exp_bar">
                    <span class="exp-bar">
                      <meter id="fuel" min="0" max="100" low="33" high="70" optimum="80" value="30" class="progress w-75">at 50/100</meter>
                      <label for="fuel">30</label>
                    </span>
                  </div>
                </div>
                <div class="user_profile_exp_box user_exp_box">
                  <div class="user_profile_exp_text">Trip Knowledge</div>
                  <div class="user_profile_exp_bar">
                    <span class="exp-bar">
                      <meter id="fuel" min="0" max="100" low="33" high="70" optimum="80" value="50" class="progress w-75">at 50/100</meter>
                      <label for="fuel">50</label>
                    </span>
                  </div>
                </div>
              </div>
              <div class="user_footer">
                <div class="user_avb">Available</div>
                <button mat-flat-button>View Profile</button>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="adv_item Act_item adv_profile">
          <div class="adv_img">
            <img src="../../assets/productslideritem.png"/>
          </div>
          <div class="adv_profile_box">
              <div class="user_profile">
                <div class="user_profile_img"><img src="../../assets/profile_img.jpg" /></div>
                <div class="user_profile_name_info">
                  <div class="user_name">
                    <span>User Name</span>
                  </div>
                  <div class="user_status">
                    <span>Tour Guide</span>
                  </div>
                  <div class="user_reviews">
                    <span><img src="../../assets/star.svg"/></span>
                    <span><img src="../../assets/star.svg"/></span>
                    <span><img src="../../assets/star.svg"/></span>
                    <span><img src="../../assets/star.svg"/></span>
                    <span><img src="../../assets/star.svg"/></span>
                    /5
                  </div>
                </div>
              </div>
              <div class="user_profile_location">
                <div class="user_from user_pro_box">
                  <div class="user_form_icon">From</div>
                  <div class="user_form_text">Pakistan</div>
                </div>
                <div class="user_guide user_pro_box">
                  <div class="user_guide_icon">Guide Since</div>
                  <div class="user_guide_text">2023</div>
                </div>
                <div class="user_trip user_pro_box">
                  <div class="user_trip_icon">Next Trip</div>
                  <div class="user_trip_text">Newyork</div>
                </div>
              </div>
              <div class="user_profile_exp">
                <div class="user_profile_exp_box user_exp_box">
                  <div class="user_profile_exp_text">Exprience</div>
                  <div class="user_profile_exp_bar">
                    <span class="exp-bar">
                      <meter id="fuel" min="0" max="100" low="33" high="70" optimum="8 0" value="70" class="progress w-75">at 50/100</meter>
                      <label for="fuel">70</label>
                    </span>
                  </div>
                </div>
                <div class="user_profile_exp_box user_exp_box">
                  <div class="user_profile_exp_text">Venture</div>
                  <div class="user_profile_exp_bar">
                    <span class="exp-bar">
                      <meter id="fuel" min="0" max="100" low="33" high="70" optimum="80" value="30" class="progress w-75">at 50/100</meter>
                      <label for="fuel">30</label>
                    </span>
                  </div>
                </div>
                <div class="user_profile_exp_box user_exp_box">
                  <div class="user_profile_exp_text">Trip Knowledge</div>
                  <div class="user_profile_exp_bar">
                    <span class="exp-bar">
                      <meter id="fuel" min="0" max="100" low="33" high="70" optimum="80" value="50" class="progress w-75">at 50/100</meter>
                      <label for="fuel">50</label>
                    </span>
                  </div>
                </div>
              </div>
              <div class="user_footer">
                <div class="user_avb">Available</div>
                <button mat-flat-button>View Profile</button>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="adv_item Act_item adv_profile">
          <div class="adv_img">
            <img src="../../assets/productslideritem.png"/>
          </div>
          <div class="adv_profile_box">
              <div class="user_profile">
                <div class="user_profile_img"><img src="../../assets/profile_img.jpg" /></div>
                <div class="user_profile_name_info">
                  <div class="user_name">
                    <span>User Name</span>
                  </div>
                  <div class="user_status">
                    <span>Tour Guide</span>
                  </div>
                  <div class="user_reviews">
                    <span><img src="../../assets/star.svg"/></span>
                    <span><img src="../../assets/star.svg"/></span>
                    <span><img src="../../assets/star.svg"/></span>
                    <span><img src="../../assets/star.svg"/></span>
                    <span><img src="../../assets/star.svg"/></span>
                    /5
                  </div>
                </div>
              </div>
              <div class="user_profile_location">
                <div class="user_from user_pro_box">
                  <div class="user_form_icon">From</div>
                  <div class="user_form_text">Pakistan</div>
                </div>
                <div class="user_guide user_pro_box">
                  <div class="user_guide_icon">Guide Since</div>
                  <div class="user_guide_text">2023</div>
                </div>
                <div class="user_trip user_pro_box">
                  <div class="user_trip_icon">Next Trip</div>
                  <div class="user_trip_text">Newyork</div>
                </div>
              </div>
              <div class="user_profile_exp">
                <div class="user_profile_exp_box user_exp_box">
                  <div class="user_profile_exp_text">Exprience</div>
                  <div class="user_profile_exp_bar">
                    <span class="exp-bar">
                      <meter id="fuel" min="0" max="100" low="33" high="70" optimum="8 0" value="70" class="progress w-75">at 50/100</meter>
                      <label for="fuel">70</label>
                    </span>
                  </div>
                </div>
                <div class="user_profile_exp_box user_exp_box">
                  <div class="user_profile_exp_text">Venture</div>
                  <div class="user_profile_exp_bar">
                    <span class="exp-bar">
                      <meter id="fuel" min="0" max="100" low="33" high="70" optimum="80" value="30" class="progress w-75">at 50/100</meter>
                      <label for="fuel">30</label>
                    </span>
                  </div>
                </div>
                <div class="user_profile_exp_box user_exp_box">
                  <div class="user_profile_exp_text">Trip Knowledge</div>
                  <div class="user_profile_exp_bar">
                    <span class="exp-bar">
                      <meter id="fuel" min="0" max="100" low="33" high="70" optimum="80" value="50" class="progress w-75">at 50/100</meter>
                      <label for="fuel">50</label>
                    </span>
                  </div>
                </div>
              </div>
              <div class="user_footer">
                <div class="user_avb">Available</div>
                <button mat-flat-button>View Profile</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="readMore">
      <a href="#">View All Packages</a>
    </div>
  </div>