<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer_section">
                    <div class="footer_logo"><img src="../../assets/footer_trakker.png"/></div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer_section">
                    <h3>Keep in Touch</h3>
                    <div class="footer_menu">
                        <a href="#">About Us</a>
                        <a href="#">Contributor</a>
                        <a href="#">Traking</a>
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_section">
                    <h3>Contact Info</h3>
                    <div class="footer_contact_details">
                        <div class="contact_info">
                            <address>Lorem Ipsum is simply dummy text of the printing.</address>
                        </div>
                        <div class="contact_info">
                            <a href="tel:#">0123  4567 890</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_section">
                    <h3>Social Info</h3>
                    <div class="footer_contact_details">
                        <div class="contact_social">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="social_icon">
                            <a href="#"><img src="../../assets/fb.png"/></a>
                            <a href="#"><img src="../../assets/tw.png"/></a>
                            <a href="#"><img src="../../assets/in.png"/></a>
                            <a href="#"><img src="../../assets/ing.png"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
