<app-header></app-header>
<div class="package_container">
    <div class="package_header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Find The Best</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="search-filter-field">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <div class="search-filter-field-inn">
                    <div class="row">
                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="search-field">
                              <div class="field-box">
                                <label for="trip"><img src="../../assets/trip-icon.svg" /></label>
                                <input type="text" name="text" id="trip" placeholder="What kind of trip are you looking for?"/>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="search-field">
                              <div class="field-box">
                                <label for="location"><img src="../../assets/trip-location.svg" /></label>
                                <input type="text" name="text" id="location" placeholder="When do you want to go?"/>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="search-field-button">
                          <button mat-flat-button>Show holidays</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="search-tag-heading">
                  <h2>Quick Search</h2>
                </div>
                <div class="search-tag">
                  <button mat-flat-button>Hindu Kush Range</button>
                  <button mat-flat-button>Himalayas</button>
                  <button mat-flat-button>Baltoro Glacier</button>
                  <button mat-flat-button>Gondogoro La Trek</button>
                  <button mat-flat-button>K2 Base Camp</button>
                  <button mat-flat-button>Trekking</button>
                  <button mat-flat-button>Mountaineering</button>
                  <button mat-flat-button>Skiing and Snowboarding</button>
                  <button mat-flat-button>Rock Climbing</button>
                  <button mat-flat-button>Ice Climbing</button>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="prebuilt-package">
                    <img src="../../assets//prebuilt-package-1.png"/>
                    <div class="prebuilt-package-details">
                        <h3>Package for Hunza</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    </div>
                    <a href="javascript:void(0);"><img src="../../assets/right_icon1.svg" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="prebuilt-package">
                    <img src="../../assets//prebuilt-package-2.png"/>
                    <div class="prebuilt-package-details">
                        <h3>Package for Lahore</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    </div>
                    <a href="javascript:void(0);"><img src="../../assets/right_icon1.svg" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="prebuilt-package">
                    <img src="../../assets//prebuilt-package-3.png"/>
                    <div class="prebuilt-package-details">
                        <h3>Package for Islamabad</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    </div>
                    <a href="javascript:void(0);"><img src="../../assets/right_icon1.svg" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>